beautifulsoup4==4.8.2
bs4==0.0.1
chardet==3.0.4
fuzzywuzzy==0.18.0
lxml==4.5.0
numpy==1.18.1
pandas==1.0.1
pdfminer.six==20200402
Pillow==7.1.1
pycryptodome==3.9.7
pytesseract==0.3.4
python-dateutil==2.8.1
python-docx==0.8.10
pytz==2019.3
selenium==3.141.0
six==1.14.0
sortedcontainers==2.1.0
soupsieve==2.0
urllib3==1.25.8
Wand==0.5.9
xlrd==1.2.0